h1#hero-title {
  font-size: large;
}

#playground-title {
  font-size: medium;
}

.wrapper {
  flex-flow: column wrap;
  align-items: flex-start;
  row-gap: 1rem;
}

input {
  width: 80%;
}
