body {
  main {
    #hero-title {
      font-size: large;
    }
  }

  #playground {
    #playground-title {
      font-size: medium;
    }

    .wrapper {
      inline-size: 70%;

      figure {
        figcaption {
          font-size: x-small;
        }
      }
    }
  }
}
