h1#hero-title {
  font-size: large;
}

#playground-title {
  font-size: medium;
}

#inner h3 {
  font-size: small;
}

.properties {
  grid-template-columns: repeat(2, 1fr);
}

.properties .property:last-child {
  grid-column: initial;
}
