body {
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}

main {
  grid-row: 1 / span 1;
}

section {
  grid-row: 2 / span 2;
}

#wrapper {
  height: initial;
}

#inner h3 {
  font-size: medium;
}