body {
  min-block-size: 100vh;
  min-block-size: 100dvh;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  main {
    background: #a8ff78 linear-gradient(to left, #78ffd6, #a8ff78);

    display: grid;
    place-content: center;
  }

  section {
    padding: 1rem;

    #playground-title {
      margin-block-end: 1rem;
    }

    textarea {
      padding: 0.5rem;

      &::selection {
        background-color: #a8ff78;
        color: white;
      }
    }
  }
}
