body {
  min-height: 100dvh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main {
  background: #a8ff78 linear-gradient(to left, #78ffd6, #a8ff78);
  display: flex;
  align-items: center;
  justify-content: center;
}

#playground {
  padding: 1rem;
}

#playground #playground-title {
  margin-bottom: 1rem;
}

#quote {
  margin: 0 auto;
  font-weight: bold;
}
