body {
  min-height: 100dvh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main {
  background: #a8ff78 linear-gradient(to left, #78ffd6, #a8ff78);
  display: flex;
  align-items: center;
  justify-content: center;
}

#playground {
  padding: 1rem;
}

#playground #playground-title {
  margin-bottom: 1rem;
}

.main-wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.main-wrapper h3, #message {
  text-align: center;
}

#message {
  margin-top: 0.5rem;
  visibility: hidden;
  font-size: small;
  margin-bottom: 0.5rem;
}

#done {
  color: green;
}

#done,
#total {
  font-weight: bolder;
}

.main-wrapper input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 0.125rem;
}

.action-wrapper {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
}

.action-wrapper button {
  padding: 0.5rem 0.75rem;
  border: none;
  font-weight: bold;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.todo-wrapper {
  margin-top: 1rem;
  width: 100%;
}

.card {
  font-size: small;
  font-weight: bold;
  border: 1px solid transparent;
  padding: 0.25rem 0.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  transition: all 1s linear;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
}

.card:hover {
  border: 1px solid black;
  box-shadow: 0.125rem 0.125rem 0.25rem silver;
}

.lineThrough {
  text-decoration: line-through;
}

.card p {
  align-self: center;
}

.card .actions {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.card .status {
  padding: 0.25rem 0.5rem;
  background-color: white;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.card .green {
  color: green;
  border: 1px solid green;
}

.card .red {
  color: red;
  border: 1px solid red;
}
