h1#hero-title {
  font-size: large;
}

#playground-title {
  font-size: medium;
}

.main-wrapper {
  width: 100%;
}

.main-wrapper h3 {
  font-size: medium;
}

.main-wrapper input {
  padding: 0.25rem 0.5rem;
}

.action-wrapper button {
  padding: 0.25rem 0.5rem;
}

.card .status {
  font-size: x-small;
}
