.form-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-image: radial-gradient(ellipse at top, var(--primary), white);
  background-color: var(--primary);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.form-container form {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding: 2rem 1rem;
}

label {
  font-weight: bold;
}

input {
  font-weight: bold;
  width: 100%;
  border: none;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  display: block;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

input[type="password"] {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.125rem;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  outline: 2px solid var(--primary);
}

input[type="submit"] {
  margin-top: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--primary);
  color: white;
}
