@import url("../../style/main.css");

footer {
  padding: 2rem 4rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

footer div h4 {
  font-size: large;
  margin-bottom: 0.5rem;
}

footer div ul li {
  font-size: small;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  footer {
    padding: 1rem 2rem;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 0.5rem;
  }
}

@media screen and (max-width: 425px) {
  footer {
    grid-template-columns: 1fr;
    text-align: center;
  }

  i.fa {
    font-size: medium;
  }
}
