h1#hero-title {
  font-size: larger;
}

#playground-title {
  font-size: large;
}

.wrapper {
  width: 95%;
  min-height: 15rem;
}

.wrapper h3 {
  font-size: small;
}

.card {
  font-size: x-small;
}

.pagination .btn {
  font-size: x-small;
}