body {
  position: relative;

  min-block-size: 100vh;
  min-block-size: 100dvh;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  main {
    background: #a8ff78 linear-gradient(to left, #78ffd6, #a8ff78);

    display: grid;
    place-content: center;
  }

  > section {
    padding: 1rem;

    #playground-title {
      margin-block-end: 1rem;
    }

    #preloader {
      position: absolute;
      inset: 0;

      display: grid;
      place-content: center;

      background-color: silver;

      h4 {
        font-size: xx-large;
        font-weight: bold;

        padding: 2rem;

        border: 1px solid black;
        border-radius: 0.5rem;

        animation: shake 0.5s infinite linear;
      }
    }

    #content {
      h4 {
        text-align: center;

        margin-block-end: 1rem;
      }

      #tiles {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        img {
          max-inline-size: 10rem;
          max-block-size: 10rem;

          border-radius: 0.25rem;

          cursor: pointer;

          transition: all 1s;

          &:hover {
            transform: translateY(-0.5rem);

            box-shadow: 0.5rem 0.5rem 1rem silver;
          }
        }
      }
    }
  }
}

@keyframes shake {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(1rem);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1rem);
  }
}
