body {
  section {
    #playground-title {
      font-size: large;
    }

    #preloader {
      h4 {
        font-size: large;

        padding: 1rem;
      }

      #content {
        #tiles {
          gap: 1rem;
        }
      }
    }
  }
}
