h1#hero-title {
  font-size: large;
}

#playground-title {
  font-size: medium;
}

.wrapper {
  width: 95%;
  min-height: 15rem;
}

.wrapper h3 {
  font-size: small;
}

.card {
  font-size: x-small;
}

.pagination .btn {
  font-size: x-small;
  width: 1.5rem;
  height: 1.5rem;
}
