body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main {
  background: #a8ff78 linear-gradient(to left, #78ffd6, #a8ff78);
  display: flex;
  align-items: center;
  justify-content: center;
}

#playground {
  padding: 1em;
  background: white url("../assets/images/Aviation.jpg") no-repeat center
    center/cover;
}

#playground #playground-title {
  margin-bottom: 1em;
}

#playground h4 {
  margin-bottom: 0.5rem;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

select {
  width: 40%;
  padding: 0.5rem 0.25em;
  font-size: small;
  font-weight: bold;
}

option {
  font-weight: bold;
}
