h1#hero-title {
  font-size: larger;
}

#playground-title {
  font-size: large;
}

#playground h4 {
  font-size: small;
}

.wrapper {
  flex-flow: column wrap;
  row-gap: 1rem;
}

select {
  width: 60%;
  padding: 0.25rem 0.125rem;
}
