body {
  min-block-size: 100vh;
  min-block-size: 100dvh;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  main {
    background: #a8ff78 linear-gradient(to left, #78ffd6, #a8ff78);

    display: grid;
    place-content: center;
  }

  > section {
    padding: 1rem;

    #playground-title {
      margin-block-end: 1rem;
    }

    form {
      display: grid;
      gap: 0.5rem;

      input {
        inline-size: 50%;

        padding: 0.25rem;
      }

      input[type="submit"] {
        inline-size: 4rem;

        cursor: pointer;

        font-size: x-small;
      }
    }
  }
}
