body {
  main {
    #hero-title {
      font-size: large;
    }
  }

  > section {
    #playground-title {
      font-size: medium;
    }

    #form {
      input {
        inline-size: 80%;
      }
    }
  }
}
