body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main {
  background: #a8ff78 linear-gradient(to left, #78ffd6, #a8ff78);
  display: flex;
  align-items: center;
  justify-content: center;
}

#playground {
  padding: 1rem;
}

#playground #playground-title {
  margin-bottom: 1rem;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

input {
  width: 60%;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

button {
  width: 6rem;
  padding: 0.25rem;
  cursor: pointer;
}

ul {
  margin-top: 1rem;
  list-style-type: none;
  font-weight: bold;
}

ul li {
  margin-bottom: 0.5rem;
  font-size: small;
}
