body {
  min-block-size: 100vh;
  min-block-size: 100dvh;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  main {
    background: #d1d8e0 radial-gradient(#d1d8e0, #ffffff);

    display: grid;
    place-content: center;
  }

  #playground {
    padding: 1rem;

    #playground-title {
      margin-block-end: 1rem;
    }

    textarea {
      display: block;

      inline-size: 80%;

      min-height: 10rem;

      font-size: large;
      font-weight: bold;

      padding: 0.5rem;

      margin-inline: auto;
    }
  }
}
