body {
  min-height: 100vh;
  display: flex;
}

main {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #a8ff78;
  background: linear-gradient(to left, #78ffd6, #a8ff78);
}

#playground {
  width: 50%;
  background-color: #c5c5c5;
  padding: 1em;
}

#playground #playground-title {
  margin-bottom: 1em;
}

.bmi-container {
  width: 50%;
  margin: auto;
  padding: 1em;
}

label {
  font-weight: bold;
  font-size: small;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

#w-value,
#h-value {
  font-weight: bold;
  font-size: small;
}

.result {
  width: 50%;
  margin: 2em auto 0;
  background-color: black;
  border-radius: 0.5em;
}

#bmi {
  font-size: xx-large;
  padding: 0;
  text-align: center;
}

#category {
  font-size: small;
  font-style: italic;
  font-weight: bold;
  padding: 0.75em;
  text-align: center;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}
