body {
  min-block-size: 100vh;
  min-block-size: 100dvh;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  main {
    background: #a8ff78 linear-gradient(to left, #78ffd6, #a8ff78);

    display: grid;
    place-content: center;
  }

  #playground {
    padding: 1rem;

    #playground-title {
      margin-block-end: 1rem;
    }

    .wrapper {
      inline-size: 50%;

      margin-inline: auto;

      display: grid;
      gap: 1rem;

      figure {
        img {
          inline-size: 100%;

          object-fit: cover;

          border-radius: 0.25rem;
        }

        figcaption {
          font-size: small;
          font-weight: bold;
        }
      }

      .icons {
        inline-size: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      input[type="range"] {
        inline-size: 100%;

        accent-color: #36454f;
      }
    }
  }
}
