body {
  min-height: 100vh;
  display: flex;
}

section,
main {
  width: 50%;
  display: flex;
}

main {
  align-items: center;
  justify-content: center;
  background: #a8ff78;
  background: linear-gradient(to left, #78ffd6, #a8ff78);
}

#playground {
  flex-direction: column;
  padding: 1em;
}

#playground-title {
  margin-bottom: 2em;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

#info {
  margin-bottom: 0.5em;
}

#result {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: large;
  font-weight: bold;
  visibility: hidden;
}

input {
  width: 50%;
  padding: 0.25em;
  border-radius: 0.25em;
}

button {
  width: 12em;
  padding: 0.25em;
  cursor: pointer;
}
