body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main {
  background: #a8ff78 linear-gradient(to left, #78ffd6, #a8ff78);
  display: flex;
  align-items: center;
  justify-content: center;
}

#playground {
  padding: 1rem;
}

#playground #playground-title {
  margin-bottom: 1rem;
}

#wrapper {
  position: relative;
  width: 80%;
  max-height: 20rem;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

header {
  position: sticky;
  top: 0;
  background-color: black;
  padding: 0.5rem 2rem;
}

#navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.links a {
  font-weight: bold;
  font-size: small;
  color: white;
}

#custom-scroll {
  position: fixed;
  width: 10%;
  height: 0.2rem;
  background-color: blue;
}

.content {
  height: 20rem;
  background-color: silver;
  display: flex;
  align-items: center;
  justify-content: center;
}

#info {
  margin-bottom: 1rem;
}

footer {
  padding: 0.5rem 2rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

footer .links a {
  color: black;
}

.threshold {
  background-color: white;
}
