body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main {
  background: #a8ff78 linear-gradient(to left, #78ffd6, #a8ff78);
  display: flex;
  align-items: center;
  justify-content: center;
}

#playground {
  padding: 1rem;
}

#playground #playground-title {
  margin-bottom: 1rem;
}

.booklist-wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#booklist-title {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

#book-title-error,
#book-author-error {
  margin-top: 0;
  visibility: hidden;
  color: red;
  font-size: small;
}

input[type="text"] {
  display: block;
  width: 100%;
  background-color: white;
  color: var(--primary-color);
  padding: 0.5rem 0.25rem;
  border-radius: 0.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

::placeholder {
  color: var(--primary-color);
}

button {
  min-width: 5rem;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  background-color: var(--primary-color);
  color: white;
  opacity: 0.5;
  transition: opacity 1s;
}

button:hover {
  opacity: 1;
}

#num {
  margin-right: 0.25rem;
  font-weight: bold;
}

h5 {
  margin-top: 2rem;
  font-style: italic;
  color: var(--primary-color);
}

table {
  margin-top: 1rem;
  width: 100%;
  border: 1px solid var(--primary-color);
  border-radius: 0.25rem;
}

thead tr th {
  background-color: white;
  color: var(--primary-color);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

td {
  color: var(--primary-color);
  text-align: center;
  font-size: small;
  font-weight: bold;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}