body {
  min-height: 100dvh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main {
  background: #a8ff78 linear-gradient(to left, #78ffd6, #a8ff78);
  display: flex;
  align-items: center;
  justify-content: center;
}

#playground {
  padding: 1rem;
}

#playground #playground-title {
  margin-bottom: 1rem;
}

.main-wrapper {
  margin-top: 1rem;
  width: 80%;
}

.wrapper {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
  width: 100%;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
}

#colors,
#actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.color,
#selected-color {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
}

.color {
  cursor: pointer;
}

#selected-color {
  background-color: #fff;
}

#notes {
  margin-top: 1rem;
}

.card {
  display: flex;
  justify-content: space-between;
  column-gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  font-weight: bold;
  font-size: small;
}
