body {
  min-height: 100dvh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main {
  background: #a8ff78 linear-gradient(to left, #78ffd6, #a8ff78);
  display: flex;
  align-items: center;
  justify-content: center;
}

#playground {
  padding: 1rem;
}

#playground #playground-title {
  margin-bottom: 1rem;
}

.wrapper-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

button {
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}
