body {
  min-height: 100dvh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main {
  background: #a8ff78 linear-gradient(to left, #78ffd6, #a8ff78);
  display: flex;
  align-items: center;
  justify-content: center;
}

#playground {
  padding: 1rem;
}

#playground #playground-title {
  margin-bottom: 1rem;
}

form {
  position: relative;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form input {
  width: 100%;
  padding: 0.5rem 2rem;
  font-weight: bold;
}

form span,
form i.fa {
  position: absolute;
  width: 2rem;
  text-align: center;
  /* These elements don't react to pointer events. */
  pointer-events: none;
}

form i.fa {
  left: 0;
}

form span {
  right: 0.25rem;
  font-weight: bold;
}
