body {
  min-height: 100vh;
  display: flex;
}

section,
main {
  width: 50%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #a8ff78;
  background: linear-gradient(to left, #78ffd6, #a8ff78);
}

#playground {
  padding: 1em;
  background-color: #c5c5c5;
  position: relative;
}

#playground #playground-title {
  margin-bottom: 1em;
}

#context-menu {
  max-width: 12em;
  padding: 0.5em;
  border: 1px solid #000;
  border-radius: 0.5em;
  position: absolute;
  background-color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 0.25em;
  font-size: small;
  font-weight: bold;
}

a {
  min-width: 8em;
  max-width: 10em;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
