footer {
  background-color: var(--primary-300);
  color: white;
}

footer .footer-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

footer .footer-links {
  display: flex;
  flex-flow: column wrap;
}

footer .footer-links > div:first-child {
  border-bottom: 1px solid white;
}

footer .footer-links > div {
  padding-bottom: 1rem;
  padding-right: 1rem;
}

footer .social {
  border-left: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .social > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

footer .social .icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

footer .title {
  margin-top: 2rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.copyright {
  background-color: var(--primary);
}

.copyright-wrapper {
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright-wrapper #beiersdorfusa {
  font-size: xx-large;
  font-weight: bold;
}

footer a {
  color: white;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0.5rem 1rem;
  }

  footer .footer-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-links {
    grid-column: 1 / span 2;
  }

  .social {
    grid-column: 3 / span 1;
  }

  .copyright-wrapper #beiersdorfusa {
    font-size: x-large;
  }

  footer .social .title {
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  footer .footer-wrapper {
    grid-template-columns: 1fr;
  }

  .footer-links,
  .social {
    grid-column: 1 / span 1;
  }

  footer .footer-links > div:last-child {
    border-bottom: 1px solid white;
  }

  footer .social {
    border-left: none;
  }

  .copyright-wrapper {
    min-height: 6rem;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
