header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
  color: var(--primary);
}

header .header-wrapper {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

header #logo {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--primary);
  color: white;
  border-radius: 50%;
  font-weight: bold;
}

header nav a {
  margin-right: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0.5rem 1rem;
  }

  header .header-wrapper {
    column-gap: 1rem;
  }

  header #logo {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    font-size: small;
  }

  header nav a {
    margin-right: 0.75rem;
    font-size: small;
  }
}

@media screen and (max-width: 425px) {
  header .header-wrapper {
    flex-direction: column;
    row-gap: 1rem;
  }

  header .header-wrapper nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
  }

  header nav a {
    margin-right: 0;
  }
}
