body {
  min-height: 100dvh;
}

main {
  padding: 1rem;
}

.main-wrapper {
  margin-top: 1rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 0.25rem;
  padding: 0.5rem;
  transition: all 1s;
}

.product-card:hover {
  border: 2px solid var(--primary);
  box-shadow: 0.5rem 0.25rem 0.125rem silver;
  transform: translateY(-1rem);
}

.product-card .img {
  width: 10rem;
  height: auto;
}

.rating-container {
  display: flex;
}

.rating-count {
  font-size: small;
  color: var(--gray-400);
}

.fa-star {
  color: var(--gold-700);
  margin-right: 0.25rem;
}

.buyButton {
  color: var(--primary);
  align-self: self-end;
}

.subline,
.headline {
  text-transform: uppercase;
  color: var(--primary);
}

.subline {
  font-size: small;
}

.headline {
  margin-top: 0.5rem;
  font-weight: bold;
}
