body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main {
  background: #a8ff78 linear-gradient(to left, #78ffd6, #a8ff78);
  display: flex;
  align-items: center;
  justify-content: center;
}

#playground {
  padding: 1rem;
}

#playground #playground-title {
  margin-bottom: 1rem;
}

.main-wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.input-wrapper {
  width: 80%;
  display: flex;
  align-items: baseline;
  column-gap: 0.5rem;
}

label {
  font-size: small;
}

input[type="number"] {
  width: 20%;
  height: 2.5rem;
  padding: 0.5rem;
  font-weight: bold;
}

#min,
#max {
  font-weight: bold;
}

.card {
  margin-top: 0.5rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: white;
}

.quote,
.error {
  font-size: small;
}

.quote {
  background-color: black;
}

.error {
  background-color: red;
}

button {
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 0.25rem;
  width: 4rem;
  height: 2.5rem;
  background-color: var(--primary-color);
  color: white;
  opacity: 0.5;
  transform: opacity 1s;
}

button:hover {
  opacity: 1;
}