h1#hero-title {
  font-size: larger;
}

#playground-title {
  font-size: large;
}

.main-wrapper {
  width: 100%;
}

.input-wrapper {
  width: 80%;
}

input[type="number"] {
  width: 15%;
}

label,
input[type="number"],
button {
  font-size: small;
}

button {
  width: 3rem;
}

.card {
  font-size: small;
}
