body {
  main {
    #hero-title {
      font-size: large;
    }
  }

  section {
    #playground-title {
      font-size: medium;
    }

    .container {
      inline-size: 80%;
    }
  }
}
