body {
  min-block-size: 100vh;
  min-block-size: 100dvh;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  main {
    background: #d1d8e0 radial-gradient(#d1d8e0, #ffffff);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #playground {
    padding: 1rem;

    #playground-title {
      margin-block-end: 1rem;
    }

    .wrapper {
      inline-size: 80%;

      margin-inline: auto;

      input[type="text"] {
        inline-size: 100%;

        padding: 0.25rem 0.5rem;

        font-weight: bold;
        font-size: large;

        margin-block-end: 2rem;
      }

      #text {
        font-weight: bold;
        line-height: 2rem;
        text-align: justify;
      }
    }
  }
}
