h1#hero-title {
  font-size: large;
}

#playground-title {
  font-size: medium;
}

.main-wrapper {
  width: 90%;
}

.main-wrapper h4 {
  font-size: small;
}

.wrapper {
  margin-bottom: 1rem;
}

.result {
  width: 60%;
}

#bmi {
  font-size: x-large;
}