.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  /* height: 40%; */
  overflow: auto;
  background-color: white;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 0.5rem;
}

.modal-header .title {
  font-weight: bold;
}

.modal-content {
  margin-top: 0.25rem;
  padding: 0.5rem;
}

.modal-content input {
  display: block;
  width: 100%;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.modal-footer {
  display: flex;
  flex-flow: row-reverse;
  gap: 0.5rem;
  padding: 0.5rem;
}

[class^="btn"] {
  padding: 0.5rem;
  font-weight: bold;
}

.btn-confirm {
  border: none;
  background-color: var(--primary);
}

.btn-cancel {
  background-color: white;
  border: 1px solid var(--primary);
}

@media screen and (max-width: 768px) {
  .modal {
    width: 50%;
    padding: 0.75rem;
  }
}

@media screen and (max-width: 425px) {
  .modal {
    width: 75%;
    padding: 0.5rem;
  }

  .modal-header,
  .modal-content {
    font-size: small;
  }

  [class^="btn"] {
    font-size: x-small;
  }
}
