h1#hero-title {
  font-size: large;
}

h2#library,
#playground-title {
  font-size: medium;
}

form,
table {
  width: 80%;
}

input[type="text"],
input[type="submit"] {
  padding: 0.25rem 0.5rem;
}

table {
  font-size: small;
}

.fa {
  font-size: small;
}
