h1#hero-title {
  font-size: larger;
}

#playground-title {
  font-size: large;
}

.main-wrapper {
  width: 100%;
}

.product-list {
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
}

.product-card {
  width: 60%;
}

.product-card .product-title,
.product-price {
  font-size: small;
}

th {
  font-size: x-small;
}

.little-img {
  width: 2.5rem;
  height: 2.5rem;
}

#total-price {
  font-size: medium;
}

.purchase {
  font-size: x-small;
}
