h1#hero-title {
  font-size: large;
}

#playground-title {
  font-size: medium;
}

.wrapper button,
.wrapper h4 {
  font-size: x-small;
}

.wrapper #message {
  font-size: x-small;
}

.wrapper img {
  width: 75%;
}
