body {
  min-height: 100vh;
  display: flex;
}

section,
main {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  background: #a8ff78;
  background: linear-gradient(to left, #78ffd6, #a8ff78);
  align-items: center;
  justify-content: center;
}

#playground {
  padding: 1em;
}

#playground #playground-title {
  margin-bottom: 2em;
}

button {
  padding: 0.5em;
  margin-top: 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
}

.highlight {
  color: #78ffd6;
}
