body {
  main {
    #hero-title {
      font-size: large;
    }
  }

  section {
    #playground-title {
      font-size: medium;
    }

    form {
      inline-size: 80%;

      .fa {
        font-size: small;
      }
    }
  }
}
