body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main {
  background: #a8ff78 linear-gradient(to left, #78ffd6, #a8ff78);
  display: flex;
  align-items: center;
  justify-content: center;
}

#playground {
  padding: 1rem;
}

#playground #playground-title {
  margin-bottom: 1rem;
}

.wrapper {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

img {
  width: 100%;
  border-radius: 0.25em;
}

figcaption {
  font-size: small;
  font-weight: bold;
}

.icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type="range"] {
  width: 100%;
  accent-color: #36454f; /* <------------- Update the color of track and thumb. */
}
