body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main {
  background: #a8ff78 linear-gradient(to left, #78ffd6, #a8ff78);
  display: flex;
  align-items: center;
  justify-content: center;
}

#playground {
  padding: 1rem;
}

#playground #playground-title {
  margin-bottom: 1rem;
}

.wrapper {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

h4 {
  margin-bottom: 1rem;
  text-align: center;
}

#carousel-container {
  width: 100%;
  position: relative;
}

#number-text {
  font-size: small;
  font-weight: bold;
  background: #78ffd6;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

img {
  width: 100%;
  visibility: hidden;
  border-radius: 0.25rem;
}

.fa {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
  padding: 0.25rem;
  color: #78ffd6;
  transition: opacity 1s;
}

.fa:hover {
  opacity: 1;
}

.fa-chevron-circle-left {
  left: 0;
}

.fa-chevron-circle-right {
  right: 0;
}
