body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main {
  background: #a8ff78 linear-gradient(to left, #78ffd6, #a8ff78);
  display: flex;
  align-items: center;
  justify-content: center;
}

#playground {
  position: relative;
  padding: 1rem;
}

#playground #playground-title {
  margin-bottom: 1rem;
}

#context-menu {
  display: none;
  position: absolute;
  max-width: 12rem;
  border: 1px solid silver;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  background-color: white;
}

ul {
  padding: 0;
}

ul li {
  font-size: small;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  transition: background-color 1s;
  margin-bottom: 0.25rem;
}

ul li:last-child {
  margin-bottom: 0;
}

ul li:hover {
  background-color: #0041c2;
}

i.fa,
a {
  color: black;
  transition: color 1s;
}

ul li:hover i.fa,
ul li:hover a {
  color: white;
}

a {
  min-width: 8rem;
  max-width: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
