h1#hero-title {
  font-size: large;
}

#playground-title {
  font-size: medium;
}

.booklist-wrapper {
  width: 100%;
}

#booklist-title {
  font-size: small;
}

input[type="text"] {
  padding: 0.25rem 0.25rem;
  font-size: small;
}

table tr th {
  font-size: small;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

td {
  font-size: x-small;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

button {
  font-size: x-small;
  padding: 0.5rem 0.5rem;
}
