body {
  min-height: 100vh;
  display: flex;
}

section,
main {
  width: 50%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #a8ff78;
  background: linear-gradient(to left, #78ffd6, #a8ff78);
}

#playground {
  padding: 1em;
  background-color: #c5c5c5;
  position: relative;
}

#playground #playground-title {
  margin-bottom: 1em;
}

#img {
  display: block;
  width: 250px;
  height: 400px;
  border-radius: 0.25em;
}

#btn {
  cursor: pointer;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 0.25em;
  margin-top: 0.5em;
}
