:root {
  --primary: #feef00;
}

*,
*::before,
*::after {
  font-family: "Times New Roman", Times, serif;

  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

.fa {
  cursor: pointer;
}

ol {
  padding-inline-start: 1rem;

  li {
    font-weight: bold;
    font-size: small;

    margin-block-end: 0.25rem;
  }
}
