body {
  min-height: 100dvh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main {
  background: #a8ff78 linear-gradient(to left, #78ffd6, #a8ff78);
  display: flex;
  align-items: center;
  justify-content: center;
}

#playground {
  padding: 1rem;
}

#playground #playground-title {
  margin-bottom: 2rem;
}

.main-wrapper {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

#profile-header {
  height: 8rem;
  background-color: var(--theme-color);
  position: relative;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

img {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: -50px; /* <----------- Width of img/2 */
  border: 0.25rem solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#profile-information {
  background-color: white;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

#name,
#position {
  font-weight: bold;
  text-align: center;
}

#name {
  color: var(--theme-color);
  margin-bottom: 1rem;
}

#position {
  font-style: italic;
  margin-bottom: 0.75rem;
}

#profile-engagement {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#profile-engagement div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.25rem;
}

.num {
  font-size: large;
  font-weight: bolder;
}

.engagement-title {
  font-size: small;
  font-weight: bold;
  color: var(--theme-color);
}

button {
  padding: 0.5rem;
  font-weight: bold;
  width: 6rem;
  border: none;
  border-radius: 2.5rem;
}

#btn-follow {
  background-color: var(--theme-color);
  color: white;
}

#btn-message {
  background-color: white;
  color: var(--theme-color);
  border: 1px solid var(--theme-color);
}

.theme-wrapper h5 {
  margin-bottom: 0.5rem;
  text-align: center;
}

#themes {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.theme {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
}

.bordered {
  border: 1px solid black;
}
