h1#hero-title {
  font-size: large;
}

#playground-title {
  font-size: medium;
}

#playground h3 {
  font-size: small;
}

.main-wrapper {
  margin: 0 auto;
  width: 80%;
}

#todo-input {
  width: 100%;
}

.wrapper {
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

#todo-box,
#doing-box,
#done-box {
  min-height: 12rem;
}

.todo-card {
  font-size: x-small;
}
