h1#hero-title {
  font-size: large;
}

#playground-title {
  font-size: medium;
}

h3#info {
  font-size: small;
}

.wrapper {
  width: 80%;
}

#result {
  font-size: large;
}

input {
  width: 80%;
}

button {
  font-size: x-small;
}
