:root {
  --primary-color: blue;
}

body {
  min-height: 100vh;
  display: flex;
}

main {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #a8ff78;
  background: linear-gradient(to left, #78ffd6, #a8ff78);
}

#playground {
  width: 50%;
  background-color: #c5c5c5;
  padding: 1em;
}

#playground #playground-title {
  margin-bottom: 1rem;
}

h4 {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

button {
  cursor: pointer;
  padding: 0.5em;
  font-weight: bold;
}
