body {
  min-height: 100dvh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main {
  background: #a8ff78 linear-gradient(to left, #78ffd6, #a8ff78);
  display: flex;
  align-items: center;
  justify-content: center;
}

#playground {
  padding: 1rem;
}

.wrapper {
  /* height of h2#playground-title: 27px */
  height: calc(100dvh - 2rem - 27px);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  row-gap: 0.5rem;
}

.wrapper h4 {
  text-transform: uppercase;
}

#btn {
  padding: 0.25rem 0.5rem;
}

.modal-wrapper {
  display: none;
  position: fixed;
  inset: 0;
}

.modal {
  width: 40%;
  background-color: silver;
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  font-weight: bold;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column wrap;
  animation: falling 1s;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-animation: falling 1s;
}

@keyframes falling {
  0% {
    top: -20%;
  }
  100% {
    top: 50%;
  }
}

.modal .fa {
  align-self: flex-end;
  margin-bottom: 0.75rem;
}

.modal p {
  border-top: 1px solid black;
  padding-top: 0.5rem;
  text-align: justify;
  padding-bottom: 0.5rem;
}
