body {
  main {
    #hero-title {
      font-size: large;
    }
  }

  #playground {
    #playground-title {
      font-size: medium;
    }

    .wrapper {
      .error-wrapper {
        font-size: x-small;
      }
    }
  }
}
