h1#hero-title {
  font-size: larger;
}

#playground-title {
  font-size: large;
}

form {
  width: 95%;
}

form input {
  padding: 0.125rem 0.25rem;
  font-size: medium;
}

form button {
  font-size: medium;
}
