body {
  min-height: 100vh;
  display: flex;
}

main {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #a8ff78;
  background: linear-gradient(to left, #78ffd6, #a8ff78);
}

#playground {
  width: 50%;
  padding: 1em;
}

#playground #playground-title {
  margin-bottom: 1em;
}

.wrapper-quotes {
  width: 80%;
  margin: auto;
}

label {
  font-size: small;
  font-weight: bold;
}

input[type="number"] {
  width: 15%;
  height: 2.5em;
  padding: 0.5em;
  font-weight: bolder;
  margin-top: 2em;
  margin-bottom: 1em;
}

#quote-list {
  width: 100%;
}

.card {
  font-style: italic;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  margin-bottom: 1em;
  color: white;
}

.quote {
  background-color: black;
}

.error {
  background-color: red;
}

button {
  cursor: pointer;
  font-weight: bold;
  padding: 0.5em;
  border: none;
  border-radius: 0.25em;
  margin-left: 1em;
  width: 6em;
  height: 2.5em;
}

.btn-primary {
  background-color: blue;
  color: white;
}
