h1#hero-title {
  font-size: large;
}

#playground-title {
  font-size: medium;
}

.main-wrapper {
  width: 70%;
}

#playground h3 {
  font-size: small;
}

.card {
  font-size: small;
}
