body {
  height: 100vh;
  display: flex;
}

section,
main {
  width: 50%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #a8ff78;
  background: linear-gradient(to left, #78ffd6, #a8ff78);
}

#playground {
  padding: 1em;
  background-color: #c5c5c5;
}

#playground #playground-title {
  margin-bottom: 1em;
}

#playground h4 {
  margin-bottom: 0.5em;
}

#todos {
  min-width: 8em;
  max-width: 12em;
  padding: 0;
  margin-bottom: 1.5em;
  border-radius: 0.25em;
  padding: 0.5em;
}

.bordered {
  border: 1px solid black;
}

.todo {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  margin-bottom: 0.5em;
}

.fa {
  cursor: pointer;
}

h5 {
  margin-bottom: 0.25em;
}

input#new-todo {
  width: 80%;
  padding: 0.5em;
  margin-top: 0;
}
