h1#hero-title {
  font-size: large;
}

#playground-title {
  font-size: medium;
}

#playground h3 {
  font-size: small;
}

input {
  width: 70%;
}

#search-btn {
  font-size: x-small;
}