header {
  position: sticky;
  top: 0;
  z-index: 1;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: var(--primary) linear-gradient(to bottom, var(--primary), #ffffff);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}

#playground {
  padding: 1rem;
}

.container {
  margin-top: 2rem;
  padding: 1rem;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}

.container #container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container-header h3 {
  border-bottom: 1px solid var(--primary);
  margin-bottom: 0.5rem;
}

.container #container-content {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.container img {
  width: 20rem;
  height: 25rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2.5rem;
}
