h1#hero-title {
  font-size: larger;
}

#playground-title {
  font-size: large;
}

.information h4 {
  font-size: small;
}

.information h5 {
  font-size: x-small;
}

.wrapper {
  width: 80%;
}

.actions button {
  font-size: x-small;
}