:root {
  --primary: #a8ff78;
  --secondary: #78ffd6;
}

* {
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input[type="submit"],
button {
  cursor: pointer;
  text-transform: uppercase;
}

.fa {
  cursor: pointer;
}
