h1#hero-title {
  font-size: larger;
}

#playground-title {
  font-size: large;
}

#playground h3 {
  font-size: small;
}

.wrapper {
  width: 95%;
}

.user-wrapper {
  font-size: small;
}

.fa {
  font-size: small;
}
