.wrapper {
  width: 80%;
}

h3 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

input[type="text"] {
  width: 100%;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
  font-size: large;
  margin-bottom: 1rem;
}

p a {
  color: black;
}

@media screen and (max-width: 425px) {
  .wrapper {
    width: 90%;
  }

  input[type="text"] {
    padding: 0.125rem 0.25rem;
    font-size: medium;
  }

  p {
    font-size: small;
  }
}
