body {
  main {
    #hero-title {
      font-size: larger;
    }
  }

  #playground {
    #playground-title {
      font-size: large;
    }

    form {
      inline-size: 95%;

      input {
        padding: 0.125rem 0.25rem;
        font-size: medium;
      }

      button {
        font-size: medium;
      }
    }
  }
}
