body {
  grid-template-rows: repeat(3, 1fr);
}

main {
  grid-row: 1 / span 1;
}

section#playground {
  grid-row: 2 / span 2;
}

h1#hero-title {
  font-size: larger;
}

#playground-title {
  font-size: large;
}

#preloader p {
  font-size: large;
  padding: 1rem;
}

#tiles {
  gap: 1rem;
}
