h1#hero-title {
  font-size: large;
}

#playground-title {
  font-size: medium;
}

#navigation {
  flex-direction: column-reverse;
}

header .logo {
  display: none;
}

.links {
  flex-flow: column;
  align-items: center;
  row-gap: 0.5rem;
}

.links a,
#info h5 {
  font-size: x-small;
}

#info h5 {
  text-align: center;
}

.content img {
  width: 80%;
  height: 40%;
}
